@model TaxiApp.Models.RegistroDiario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroDiario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combustible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combustible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoDueno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoDueno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gastos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gastos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxi.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
